<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="btnConductor" (click)="modoConductor()" fill="clear">{{ 'U_REGISTER.btnDriver' | translate }}<ion-icon slot="end" name="car-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header">
    <h1>{{ 'U_REGISTER.title' | translate }}</h1>
    <img src="assets/img/car.webp">
  </div>

  <form [formGroup]="signupForm" id="form">

    <ion-input placeholder="{{ 'U_REGISTER.name' | translate }}" formControlName="nombre" id="nombre" autocomplete="no"></ion-input>

    <ion-input placeholder="{{ 'U_REGISTER.lastname' | translate }}" formControlName="apellido" id="apellidos"></ion-input>

    <ion-input placeholder="{{ 'U_REGISTER.email' | translate }}" formControlName="email" id="email" type="email"></ion-input>
    <span *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="error"> El <strong>correo</strong> es <strong>obligatorio.</strong> </span>
    <span *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" class="error"> El <strong>correo</strong> no es <strong>válido.</strong> </span>

    <ion-input placeholder="{{ 'U_REGISTER.password' | translate }}" formControlName="password" id="password" type="password"></ion-input>
    <span *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="error"> La <strong>contraseña</strong> es <strong>obligatoria.</strong> </span>
    <span *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched" class="error"> La contraseña debe tener <strong>6 caracteres</strong>.</span>

    <ion-input placeholder="{{ 'U_REGISTER.c_password' | translate }}" formControlName="password2" id="password2" type="password"></ion-input>
    <span *ngIf="rf['password2'].getError('Mustmatch')!=null" class="error"> Las contraseñas <strong>no coinciden</strong>.</span>

    <ion-input type="tel" placeholder="{{ 'U_REGISTER.phone' | translate }}" formControlName="celular" id="celular"></ion-input>
    <span *ngIf="signupForm.get('celular')?.hasError('required') && signupForm.get('celular')?.touched" class="error"> El número es <strong>obligatorio</strong>.</span>
    <span *ngIf="signupForm.get('celular')?.hasError('minlength') && signupForm.get('celular')?.touched" class="error"> El número debe ser de <strong>9 dígitos</strong>.</span>

    <ion-button class="btnRegistrar" (click)="registrar()" shape="round" expand="block">{{ 'U_REGISTER.btnRegister' | translate }}</ion-button>
  </form>

</ion-content>
