ion-header {

  ion-toolbar {

    ion-title {
      font-size: 1rem;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;
    }

    ion-buttons {
      margin-right: 0.5rem;
    }

    ion-button {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}


ion-content {
  padding: 0.5rem;
  --background: linear-gradient(90deg, #d6faf6 0%,   #99EDC5 90%);
  ion-searchbar {
    margin-bottom: 0.5rem;
    --border-radius: 15px 15px;
    --cancel-button-color: #99EDC5;
  }

  ion-card-header {
    padding-bottom: 2px;
    font-size: 0.8rem;
    font-weight: 500;
  }

  ion-card-content {
    padding: 0;

    ion-item {
      padding: 0.8rem;

      ion-label {

        h4 {
          font-size: 0.8rem;
          font-weight: 600;
        }

        p {
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }

  ion-button {
    margin: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
  }

  ion-card {
    margin-top: 1.5rem;
    margin-left: 0.8rem;
  }


}
