<ion-content scrollY="false">

  <ion-buttons slot="start">
    <ion-back-button defaultHref="/interfaz/pasajero"></ion-back-button>
  </ion-buttons>

  <div class="snow"></div>

  <div *ngIf="infoUser || user" class="profile-card">

    <div class="avatar-container">

      <ion-avatar class="avatar">
        <img *ngIf="infoUser?.photoURL || user; else placeholder_avatar;" [src]="infoUser.photoURL" />

        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select avatar</p>
          </div>
        </ng-template>
      </ion-avatar>

      <ion-button (click)="changeImage()" shape="round">
        <ion-icon name="image-outline"></ion-icon>
      </ion-button>

    </div>

    <div class="title">
      <h2>{{infoUser.nombre}} {{infoUser.apellido}}</h2>

      <div class="subtitle">
        <p>{{infoUser.perfil}}</p>
      </div>

    </div>

    <div class="main-container">

      <ion-list lines="none">
        <ion-item>
          <ion-label>
            WeTakeU Services
          </ion-label>
          <ion-icon slot="end" name="briefcase-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            {{infoUser.email}}
          </ion-label>
          <ion-icon slot="end" name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            +56 {{infoUser.celular}}
          </ion-label>
          <ion-icon slot="end" name="call-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            {{infoUser.direccion}}
          </ion-label>
          <ion-icon slot="end" name="map-outline"></ion-icon>
        </ion-item>
      </ion-list>

      <hr>

      <ion-button (click)="editProfile()" expand="block"  shape="round">
        <ion-label>{{ 'PROFILE.btnModify' | translate }}</ion-label>
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
      </ion-button>


    </div>

  </div>


</ion-content>
