<ion-content mode="ios">

  <div class="login-section ion-padding">

    <div class="heading ion-padding">

      <h2>{{ 'RECOVER.title' | translate }}</h2>
      <p>{{ 'RECOVER.message' | translate }}</p>

    </div>

    <div class="login-form ion-padding">

      <div class="form-input">

        <ion-icon name="mail-outline"></ion-icon>

        <ion-item>
          <form [formGroup]="formularioReset" id="form">
            <ion-label position="floating">
              {{ 'RECOVER.email' | translate }}
            </ion-label>
            <ion-input formControlName="email"></ion-input>
          </form>
        </ion-item>

      </div>

    </div>

    <div class="action-button ion-padding">
      <ion-button (click)="onReset()" expand="block" class="login-button" shape="round">
        {{ 'RECOVER.btnRecover' | translate }}
      </ion-button>
    </div>

    <div class="button-login ion-padding">
      <ion-button (click)="backToHome()" fill="clear" class="back-button">
        <ion-icon class="arrow" name="arrow-back-outline"></ion-icon>
        {{ 'RECOVER.btnBack' | translate }}
      </ion-button>
    </div>

  </div>

</ion-content>
