<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header">
    <h1>{{ 'D_REGISTER.title' | translate }}</h1>
    <img src="assets/img/wel_cond.png">
  </div>

  <form [formGroup]="formConductor" id="form">

    <ion-input placeholder="{{ 'D_REGISTER.name' | translate }}" formControlName="nombre" id="nombre" autocomplete="no"></ion-input>

    <ion-input placeholder="{{ 'D_REGISTER.lastname' | translate }}" formControlName="apellido" id="apellidos"></ion-input>

    <ion-input placeholder="{{ 'D_REGISTER.email' | translate }}" formControlName="email" id="email" type="email"></ion-input>

    <ion-input placeholder="{{ 'D_REGISTER.password' | translate }}" formControlName="password" id="password" type="password"></ion-input>

    <ion-input placeholder="{{ 'D_REGISTER.c_password' | translate }}" formControlName="password2" id="password2" type="password"></ion-input>

    <ion-input type="tel" placeholder="{{ 'D_REGISTER.phone' | translate }}" formControlName="celular"id="telefono"></ion-input>

    <ion-button class="btnRegistrar" (click)="registrarConductor()" shape="round" expand="block">{{ 'D_REGISTER.btnRegister' | translate }}</ion-button>
  </form>

</ion-content>

