ion-header {
  background: #f1f5f8;

  ion-toolbar {
    --background: #f9fffa;

    ion-buttons {

      ion-menu-button {
        font-size: 2.5rem;
        --color: #000;
      }
    }
  }

  ion-item {
    --background: #f8f8f8;

    ion-list {
      background: #f8f8f8;

      h3 {
        font-weight: 700;
        font-size: 1rem;

      }

      p {
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }

  ion-avatar {
    margin-block: 10px;
    width: 50px;
    height: 50px;
  }
}

ion-title {
  font-weight: lighter;
  font-size: 14px;
}

ion-slide {
  ion-card {
    width: 100%;
    height: 160px;
    box-shadow: none;
    border-radius: 12px;

    img {
      width: 100%;

      object-fit: cover;
      transform: scale(1.2, 1.2) rotate(1deg);
      transition: 1000ms all ease-in-out;
      background: #f1f5f8;
    }
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05) rotate(3deg);

  ion-card {
    img {
      transform: scale(1, 1);
    }
  }

}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

ion-content {
  --background: #f8f8f8;

  .btnAll {
    text-transform: capitalize;
    font-weight: 700;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 5px 45px;
    margin: 10px 0;

    ion-icon {
      color: #b0decb;
      font-size: 2.3rem;
    }

  }

  ion-row {
    padding-top: 15px;

    ion-label {
      font-weight: bold;
    }
    ion-label.heading {
      font-size: 1.6rem;
      color: #212121;
    }
    ion-col {
      align-self: center;

      ion-button {
        color: #000;
        padding-top: 5px;
        font-size: 1.17rem;
        --padding-end: 5%;
      }

    }

    ion-card {
      height: 35vh;
      margin-top: 1rem;
      margin-bottom: 5px;
      border-radius: 12px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

}


