ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../../assets/img/verificate_bg.webp") no-repeat center center / cover;

  .send-section {
    height: 70vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    text-align: center;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    .heading {

      h2 {
        font-size: 1.6rem;
        font-weight: bold;
      }

      p {
        margin-top: 0.6rem;
        font-size: 1.1rem;
        color: #7b7b7b;
      }
    }
  }

  .verified-button {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    --border-radius: 70px;
    --background: #80c9ec;
  }

  .end {
    margin-top: 2rem;
  }
}

