<ion-content mode="ios">

  <div class="send-section ion-padding">

    <div class="heading ion-padding">

      <h2>{{ 'VERIFICATE.title' | translate }}</h2>
      <img src="../../../assets/img/verificate-removebg-preview.png">
      <p>{{ 'VERIFICATE.message' | translate }}</p>

    </div>

    <div>
      <ion-button (click)="redirectToFinal()" class="verified-button" id="btn-vef" expand="block">
        {{ 'VERIFICATE.btnCheck' | translate }}
      </ion-button>
    </div>

    <div class="end">

    </div>

  </div>

</ion-content>
