<ion-header>
  <ion-toolbar>
    <ion-title> Google Auth </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Google signin buttons -->
  <ion-button (click)="signIn()" expand="full" *ngIf="!user"> <ion-icon name="logo-google" slot="start"></ion-icon> Google Signin </ion-button>

  <ion-button (click)="signOut()" expand="full" *ngIf="user">
    Sign out
  </ion-button>

  <ion-button (click)="refresh()" expand="full" *ngIf="!user">
    Try refresh
  </ion-button>


  <ion-item *ngIf="user">

    <ion-avatar slot="start">
      <img [src]="user.imageUrl"/>
    </ion-avatar>

    <ion-label>

      {{ user.givenName }} {{ user.familyName }}

      <p>{{ user.email }}</p>

    </ion-label>

  </ion-item>

  <!--  QR SECTION -->
  <input #fileInput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">

  <ion-button (click)="captureImage()" expand="full">
    <ion-icon slot="start" name="camera"></ion-icon>
    Capture Image
  </ion-button>

  <ion-button (click)="startScan()">
    Start scan
  </ion-button>

  <ion-button (click)="reset()" expand="full" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button>

  <video #video [hidden]="!scanActive" width="100">
  </video>
  <canvas #canvas hidden></canvas>

  <ion-button (click)="stopScan()" expand="full" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button>

  <ion-card>
    <ion-card-header>

      <ion-card-title>QR Code</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

</ion-content>
