<ion-content mode="ios">

  <div class="send-section ion-padding">

    <div class="heading ion-padding">

      <h2>¡Un paso más y listo!</h2>
      <img src="../../../assets/img/verificate-removebg-preview.png">
      <p>Ingresa a tu correo electrónico para verificar tu cuenta y poder ingresar.</p>

    </div>

    <div>
      <ion-button (click)="redirectToInfo()" class="verified-button" id="btn-vef" expand="block">
        Verificado
      </ion-button>
    </div>

    <div class="end">

    </div>

  </div>

</ion-content>
