<ion-content>

  <div class="app-page">
    <div #map id="map">
    </div>
  </div>

  <div (click)="toggleSearch()" class="map-pill map-user-pill" *ngIf="infoUser">
    <div class="map-user-img">
      <img [src]="infoUser.photoURL" alt="">
    </div>
    <div class="map-user-pill-content">
      <div class="map-user-display-name">
        {{ infoUser.nombre }} {{ infoUser.apellido }}
      </div>
      <div class="map-user-display-desc">
        Bienvenid@ de nuevo!
      </div>
    </div>
  </div>

  <div class="map-places-pill" [ngClass]="{ 'map-places-search-visible': togglePlacesSearch }">

    <!-- Ignore error, it is 'cause we dont add all needless properties -->
    <input
    type="text"
    [options]= 'options'
    #placesRef="ngx-places"
    [(ngModel)]="placesText"
    ngx-google-places-autocomplete
    placeholder="{{ 'GOOGLE.input' | translate }}"
    (onAddressChange)="handleAddressChange($event)"/>

  </div>

  <div class="map-pill" [ngClass]="{'map-pill-show': showMapPill }" >
    <div class="youps-pill-logo"></div>
    <div class="youps-pill-content">
      <div class="youps-pill-label">
        {{ 'GOOGLE.data' | translate }}
      </div>
      <div class="youps-pill-distance-time">
        {{ distance }} / {{ time }}

        <div class="pill-buttons">
          <ion-button (click)="detailsPage()" fill="clear">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            Confirmar viaje
          </ion-button>
        </div>

      </div>

    </div>
  </div>


</ion-content>
