<ion-content>

  <input
    id="direction"
    type="text"
    [(ngModel)]="placesText"
    #placesRef="ngx-places"
    placeholder="Dirección de viaje. . ."
    ngx-google-places-autocomplete
    (onAddressChange)="handleAddressChange($event)"/>

  <div class="app-page">
    <div #map id="map">
    </div>
  </div>

  <div class="map-pill" [ngClass]="{'map-pill-show': showMapPill }" >
    <div class="youps-pill-logo"></div>
    <div class="youps-pill-content">
      <div class="youps-pill-label">Tu viaje está en proceso</div>
      <div class="youps-pill-distance-time">{{ distance }} / {{ time }} </div>
    </div>
  </div>


</ion-content>
