<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="welcome">

    <div class="title">
      <h1> {{ 'API.explore' | translate }} </h1>
    </div>

    <img src="../../../assets/img/api-test.webp">
  </div>

  <div class="suggestions">
    <h2> {{ 'API.toDo' | translate }} </h2>

    <div class="services">

      <div (click)="navToRoutes()">
        <img src="../../../assets/img/driving.webp">
        <p> {{ 'API.convey' | translate }} </p>
      </div>

      <div>
        <img src="../../../assets/img/break.gif">
        <p> {{ 'API.rest' | translate }} </p>
      </div>

      <div>
        <img src="../../../assets/img/news.webp">
        <p class="fix"> {{ 'API.new' | translate }} </p>
      </div>

    </div>

  </div>

  <hr>

</ion-content>
