<ion-content>

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="header_content">

    <div class="qr">
      <img src="../../../assets/img/Codigo_QR.svg.png" alt="QR">
    </div>

    <div class="menu-button">
      <ion-toolbar>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

  </div>

  <div class="content">
    <ion-list lines="none" *ngIf="infoTrip">

      <div class="title">
        <h1> {{ 'DETAIL.details' | translate }} </h1>
      </div>

      <div class="receipt" *ngIf="infoTrip.estado === 'Pendiente'">

        <ion-item class="destination">

          <ion-icon slot="start" name="business-outline"></ion-icon>
          <p> {{ infoTrip.destino }}. </p>

        </ion-item>

        <ion-item>

          <ion-icon slot="start" name="time-outline"></ion-icon>
          <ion-label>{{ 'DETAIL.dur' | translate }}: {{ infoTrip.duracionViaje }} </ion-label>

        </ion-item>

        <ion-item>

          <ion-icon slot="start" name="man-outline"></ion-icon>
          <ion-label>{{ 'DETAIL.cap' | translate }}: {{ infoTrip.capacidad }} </ion-label>

        </ion-item>

        <ion-item>

          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>{{ 'DETAIL.price' | translate }}: ${{ infoTrip.precio }} </ion-label>

        </ion-item>

        <ion-item class="passengers">

          <ion-label class="text"> {{ 'DETAIL.pass' | translate }}

            <ion-list lines="none" *ngFor="let pass of passengers; index as i" class="passengers-list">

              <div class="passenger-info">

                <ion-avatar>
                  <img [src]="pass.photoURL" />
                </ion-avatar>

                <p class="name"> {{ pass.nombre }} {{ pass.apellido }} </p>

                <p class="contact">+56 {{ pass.celular }} </p>
              </div>

            </ion-list>

          </ion-label>

        </ion-item>

      </div>

      <ion-button *ngIf="infoTrip.estado === 'Pendiente'" (click)="startTrip()" fill="clear">
        {{ 'DETAIL.go' | translate }}
      </ion-button>

      <ion-button class="finish-trip" *ngIf="infoTrip.estado === 'En curso'" (click)="finishTrip()" fill="clear">
        {{ 'DETAIL.fin' | translate }}
      </ion-button>

    </ion-list>

  </div>


</ion-content>
