ion-content {

  .bg {
    animation:slide 1s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #D8CBC3 50%, #BCA79F 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    }

    .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    }

    .bg3 {
    animation-duration:5s;
    }

  .header_content {
    height: 30%;
    width: 60%;
    background: linear-gradient(90deg, #7E635D 0%, #6A4A3B 100%);
    border-radius: 50%;
    margin-top: -3rem;
    margin-left: 12rem;

    div.qr {
      height: 60%;
      width: 70%;

      img {
        margin-top: 3.2rem;
        margin-left: 1.3rem;
      }
    }

    .menu-button {
      position: absolute;
      top: 1rem;
      left: 0.2rem;

      ion-toolbar {
        --background: none;
      }

      ion-buttons {

        ion-menu-button {
          font-size: 80px;
          color: #101010;
        }
      }
    }
  }

  .content {
    height: 70vh;
    width: 100%;
    max-width: 500px;
    background: #D8CBC3;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    ion-list {
      background: none;

      div.title {
        margin-top: 1rem;
        margin-left: 2rem;
        font-weight: lighter;
        color: #ebebeb;
      }

      div.receipt {
        display: flex;
        flex-direction: column;
        margin-top: 1.6rem;

        ion-item.destination {
          color: #101010;
          --background: none;

          ion-icon {
            margin-left: 0.7rem;
            color: #3D241D;
          }
        }

        ion-item.passengers {
          color: #101010;
          --background: none;

          ion-icon {
            margin-top: -4.5rem;
            color: #3D241D;
          }

          ion-label.text {
            margin-top: 0.8rem;
          }

          ion-list.passengers-list  {

            .passenger-info {
              display: flex;
              flex-direction: row;

              ion-avatar {
                padding-bottom: 0;

                img {
                  height: 60%;
                  width: 60%;
                }
              }

              .contact {
                margin-left: 1.6rem;
              }
            }

            .passenger-info p {
              margin-top: 0.6rem;
              display: flex;
              flex-direction: column;
              color: #101010;
            }
          }
        }

        ion-item {
          color: #161616;
          font-weight: bold;
          --background: none;

          ion-icon {
            margin-left: 0.6rem;
            color: #3D241D;
            font-weight: 800;
          }
        }
      }

      ion-button {
        display: flex;
        align-items: center;
        color: #5B3D32;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 2rem;
      }

      ion-button.finish-trip {
        margin-bottom: 1rem;
        color: #b52930;
      }

    }
  }
}
