<ion-content mode="ios">

  <div class="login-section ion-padding">

    <div class="heading ion-padding">

      <h2>{{ 'VERIFY.title' | translate }}</h2>
      <ion-icon name="checkmark-outline"></ion-icon>
      <p>{{ 'VERIFY.message' | translate }}</p>

    </div>

    <div class="action-button ion-padding">
      <ion-button (click)="confirmMail()" expand="block" class="login-button">
        {{ 'VERIFY.btnConfirm' | translate }}
      </ion-button>
    </div>

    <div class="button-login ion-padding">
      <ion-button (click)="backToLogin()" fill="clear" class="back-button">
        <ion-icon class="arrow" name="arrow-back-outline"></ion-icon>
        {{ 'VERIFY.btnBack' | translate }}
      </ion-button>
    </div>

  </div>

</ion-content>
